<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <h1>New Product</h1>
      <%= form_for(@product) do |product| %>
      <div class="form-group">
        <div class="field">
          <%= product.label :name %>
          <%= product.text_field :name, class: 'form-control' %>
        </div>
        <div class="field">
          <%= product.label :reference %>
          <%= product.text_field :reference, class: 'form-control' %>
        </div>
        <div class="field">
          <%= product.label :price %>
          <%= product.number_field :price, class: 'form-control'  %>
        </div>
        <div class="field">
          <%= product.label :quantity %>
          <%= product.number_field :quantity, class: 'form-control'  %>
        </div>
        <div class="field">
          <%= product.label :brand %>
          <%= product.text_field :brand, class: 'form-control'  %>
        </div>
        <div class="field">
          <%= product.label :description %>
          <%= product.text_area :description, class: 'form-control'  %>
        </div>
        <div class="actions">
          <%= product.submit 'Save Product', class: 'btn btn-success'%>
        </div>
      </div>
    </div>
  </div>
</div>

<% end %>
